/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM STYLING */

:root {
  --primary-color: #ffbcb5;
  --secondary-color: #e87ea1;
  --secondary-color-dark: rgb(226, 55, 112);
  --background-color: #464f51;
  --font-color-light: #eafff7;
  --font-color-dark: #17171f;
  font-family: "Chilanka", cursive;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: "Chilanka", cursive;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

/* App */
.App {
  background-color: var(--background-color);
  color: var(--font-color-light);
  height: 100vh;
  overflow: auto;
}

/* Header */
.Header {
  position: fixed;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.Header h1 {
  font-size: 5em;
}

.Header h3 {
  font-size: 2em;
  letter-spacing: 2px;
}

.Header .mail {
  margin-top: 2em;
  margin-bottom: 1em;
}

.Header .social-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-logos img {
  width: 32px;
  height: auto;
  margin: 10px;
}

/* Main */
.Main {
  position: relative;
  margin-top: 18em;
  background-color: var(--primary-color);
  color: var(--font-color-dark);
  border-radius: 15px;
  margin-bottom: -1px;
  box-shadow: 0px 0px 15px 0px rgba(23, 23, 31, 0.5);
}

/* Projects */

.Projects > header {
  text-align: center;
  overflow: auto;
}

.Projects h2 {
  font-size: 2em;
  margin: 1em;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 2.5em;
}

.project .screenshot {
  max-width: 300px;
  margin: 0 auto;
}

.project .screenshot > img {
  max-width: 100%;
}

.project h4 {
  font-size: 1.5em;
  margin: 0.5em;
}

.project .project-links a {
  color: var(--secondary-color-dark);
  margin: 0.5em;
}

/* Footer */

.Footer {
  background-color: var(--background-color);
  color: var(--font-color-light);
  text-align: center;
  font-size: 1.5em;
}

.Footer .contact {
  margin: 2em;
}

.Footer p {
  padding: 0.2em;
}

.Footer .to-top {
  background-color: var(--secondary-color);
  border-radius: 15px 15px 0 0;
  padding: 0.5em;
  box-shadow: 0px 0px 15px 0px rgba(23, 23, 31, 0.5);
}

.Footer .to-top button {
  all: unset;
  color: var(--font-color-light);
  width: 100%;
  text-decoration: none;
}

/* NON-DESKTOP */

@media only screen and (min-width: 1280px) {
  .projects-list {
    width: 90%;
    margin: 0 auto;
  }
  .project {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .Footer .to-top {
    box-shadow: none;
  }

  .Main {
    box-shadow: none;
  }
}
